.nav-gallery-mobile {
    display: none;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 23px;
    .nav-link {
        border-radius: 50px;
        background: #fff;
        color: #525050;
        font-weight: 500;
        font-size: 14px;
        padding: 15px 30px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
        text-align: center;
        &.active {
            color: #fff;
            background: #45a1e2;
        }
    }
    .slick-slide {
        padding-left: 10px;
        padding-right: 10px;
    }
    .slick-list {
        padding-bottom: 13px;
    }
    .slick-dots {
        bottom: -16px;
    }
}

.testi-slide {
    .slick-track {
        display: flex !important;
    }
    .slick-slide {
        height: auto;
        > div {
            height: 100%;
        }
    }
    .testi-item {
        height: 100%;
        .testi-img {
            width: 115px;
            flex: 0 0 115px;
            height: 115px;
        }
    }
}

.content-article {
    img {
        max-width: 100%;
    }
}

.article-title {
    font-size: 2rem;
}

.article-description {
    font-size: 18px;
    color: #333;
    line-height: 1.89;
    p {
        margin: 0 0 20px;
    }
}

.ico-tiktok {
    width: 30px;
    height: 30px;
    vertical-align: sub;
    background: url(../images/ico-tiktok.svg) no-repeat 50% / contain;
}

.payment-bank {
    display: flex;
    flex-wrap: wrap;
    .bank-logo {
        width: 70px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.top-banner .slick-slide > div {
    margin-left: 0;
    margin-right: 0;
}
.top-banner .slick-slide .slide-item .slide-content .slide-text h1 {
    font-size: 30px;
}

.mfp-wrap.mfp-gallery.mfp-close-btn-in.mfp-auto-cursor.mfp-zoom-in.mfp-img-mobile.mfp-ready {
    cursor: default;
}

.section-testi {
    padding: 16px 26px;
    overflow: hidden;
}

.testi-item {
    padding: 0 30px;
}

.col-gallery,
.col-gallery-portfolio,
.col-gallery-desain {
    display: none;
}

.btn-whatsapp {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    .whatsapp-inner {
        border: 0;
        padding: 0;
        i {
            width: 35px;
            height: 35px;
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1366.98px) {
    .header .header-main-nav {
        padding-left: 10px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1234.98px) {
    .section-blog .article-prev {
        left: 16px;
    }
    .section-blog .article-next {
        right: 16px;
    }
    .bg-area {
        height: auto;
    }
    .header .main-nav .nav-item .nav-link {
        font-size: 15px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .testi-slide .testi-item .testi-img {
        width: 92px;
        flex: 0 0 92px;
        height: 92px;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .nav-gallery,
    .mobile-off {
        display: none;
    }
    .nav-gallery-mobile {
        display: block;
    }
    .unduh-container {
        background: url(../images/unduh-bg-1.png);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn-whatsapp {
        width: 49px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        .whatsapp-inner {
            border: 0;
            padding: 0;
            i {
                width: 25px;
                height: 25px;
            }
        }
    }
    .text-19 {
        font-size: 15px !important;
    }
    .cat-img-i {
        flex: 0 0 38px;
        max-width: 39px;
    }
    .title-category-modal {
        font-size: 18px;
    }
    .modal .close {
        top: -15px;
        right: -7px;
    }
    .auth-container .auth-inner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .auth-container::after,
    .auth-container::before {
        width: 144px;
        height: 144px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
